html, body {
    margin: 0;
    height: 100%;
    width: 100%;   
    background-color: #242B33;
}

header {
    width: 65%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    color: white;
    text-align: center;
}

.logo__heading {
    margin: 0;
    font-family: 'Post No Bills Jaffna SemiBold Regular';
    font-size: 36px;
    font-weight: 600;
}

.logo__paragraph {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.44px;
}

nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header__list {
    list-style: none;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list > li > a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;   
    letter-spacing: 0.7px;
}


main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), 
    url(./images/promo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.promo__heading {
    color: #D4C17F;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.promo__mouse__icon {
    background-image: url(./images/mouse.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.promo__contacts {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    font-family: 'Raleway';
    font-size: 18px;
}

.promo__contacts__location, .promo__contacts__phone{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

.promo__contacts__phone {
    width: 25%;
}

.location__icon {
    background-image: url(./images/location.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.phone__icon {
    background-image: url(./images/phone.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
}

.features {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features__inner {
    text-align: center;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__parks, .features__building, .features__fountain, .features__bicycle {
    width: 20%;
    height: 100%;
}

.bench__icon, .building__icon, .fountain__icon, .bicycle__icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
}

.bench__icon {
    background-image: url(./images/bench.svg);
}

.building__icon {
    background-image: url(./images/building.svg);
}

.fountain__icon {
    background-image: url(./images/fountain.svg);
}

.bicycle__icon {
    background-image: url(./images/bicycle.svg);
}

.features__paragraph {
    margin-top: 53px;
    color: white;
    font-family: 'Raleway';
    font-size: 19px;
    font-style: normal;
    font-weight: 300;
}

.main__flats {
    width: 60%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.flats__heading {
    color:#D4C17F;
    font-family: 'Playfair Display';
    font-size: 36px;
}

.flats__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inner__flat__block {
    width: 49%;
    height: 90%;
    background: linear-gradient(180deg, #242B33 0%, rgba(36, 43, 51, 0.00) 0.01%, #242B33 100%), 
    url(./images/flat\ 1.png), 
    lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Raleway';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.inner__flat__block > p {
    margin: 2em;
}

.main__questions {
    background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0.00) 50.52%, #242B33 90.10%),
     linear-gradient(0deg, rgba(36, 43, 51, 0.90) 0%, rgba(36, 43, 51, 0.90) 100%),
      url(./images/buildings.png), lightgray 50%;
      width: 100%;
      height: 70vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

.questions__inner {
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner__info {
    width: 45%;
    height: 100%;
    color:white;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.inner__info > h2 {
    padding-bottom: 50px;
    color: #D4C17F;
    font-family: 'Playfair Display';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

form {
    width: 45%;
    height: 75%;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__name, .form__number {
    outline: none;
    border: none;
    width: 45%;
    height: 40%;
    opacity: 0.2;
    background: #FFF;
}

.form__name, .form__number::placeholder {
    color: #BEBEBE;
    font-family: 'Raleway';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.form > p {
    width: 45%;
    height: 95%;
    color: #E7E7E7;
    text-align: center;
    font-family: 'Raleway';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.form__submit {
    height: 45%;
    width: 45%;
    background-color: #D4C17F;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    align-self: baseline;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
    height: 30%;
    background: #2D343C; 
    display: flex;
    align-items: center;
}

.footer__inner {
    width: 75%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    background: #2D343C; 
}

.footer__list {
    list-style: none;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__list > li > a {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;   
    letter-spacing: 0.7px;
}

.footer__logo {
    width: 25%;
}

.footer__list__item {
    padding-bottom: 15px;
}

.social__links {
    width: 50%;
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.social__links > li > a {
    display: block;
    width: 28px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.youtube {
    background-image: url(./images/youtube.svg);
}

.vk {
    background-image: url(./images/vk.svg);
}

.facebook {
    background-image: url(./images/facebook.svg);
}

.instagram {
    background-image: url(./images/instagram.svg);
}

.footer__email {
    color: #D4C17F; 
}